# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints / model weights (optional to ignore or keep small ones)
checkpoints/*.pt
mobile_build/*.ptl
mobile_build/*.pt

# Raw data downloads
data/raw/

